/* styles.css */

/* Add styles here to customize the appearance of your app */

@font-face {
    font-family: "SourceHanSerifCN-Regular";
    src: url("./resource/fonts/SourceHanSerifCN-Regular.ttf");
}

@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url("./resource/fonts/SourceHanSansCN-Regular.otf");
}

@font-face {
    font-family: "FZQingKBYSJW-R";
    src: url("./resource/fonts/FZQingKBYSJW-R.TTF");
}

:root {
    --middle-tian-width: 80px;
    --middle-tian-height: 80px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#main-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: 1fr;
    overflow: hidden;
    /* border: 3px solid black; */
}

#detail-panel {
    background-color: #e3c07c;
    /* border: 1px solid aquamarine; */
}

/* `田` cell implement */

#lishu-word {
    font-family: "华文隶书";
    font-size: 5.5em;
    position: relative;
}

.hor-middle-line {
    width: inherit;
    height: inherit;
    border-top: 1px dashed #a61b29;
    position: absolute;
    left: 0;
    top: calc(var(--middle-tian-height)/2);
    /* visibility: hidden; */
}

.ver-middle-line {
    width: inherit;
    height: inherit;
    border-left: 1px dashed #a61b29;
    position: absolute;
    top: 0;
    left: calc(var(--middle-tian-width)/2);
    /* visibility: hidden; */
}

.ver-left-line {
    width: inherit;
    height: inherit;
    border-left: 1px dashed #a61b29;
    position: absolute;
    top: 0;
    left: calc(var(--middle-tian-width)/3);
    visibility: hidden;
}

.hor-top-line {
    width: inherit;
    height: inherit;
    border-top: 1px dashed #a61b29;
    position: absolute;
    left: 0;
    top: calc(var(--middle-tian-height)/3);
    visibility: hidden;
}

.ver-right-line {
    width: inherit;
    height: inherit;
    border-left: 1px dashed #a61b29;
    position: absolute;
    top: 0;
    left: calc(var(--middle-tian-width)*2/3);
    visibility: hidden;
}

.hor-bottom-line {
    width: inherit;
    height: inherit;
    border-top: 1px dashed #a61b29;
    position: absolute;
    left: 0;
    top: calc(var(--middle-tian-height)*2/3);
    visibility: hidden;
}

.dia-left-line {
    width: calc(var(--middle-tian-width)*1.414);
    height: calc(var(--middle-tian-height)*1.414);
    border-left: 1px dashed #a61b29;
    position: absolute;
    transform-origin: top left;
    transform: rotate(-45deg);
    visibility: hidden;
}

.dia-right-line {
    width: calc(var(--middle-tian-width)*1.414);
    height: calc(var(--middle-tian-height)*1.414);
    border-left: 1px dashed #a61b29;
    position: absolute;
    left: 100%;
    transform-origin: top left;
    transform: rotate(45deg);
    visibility: hidden;
}

.nest-line {
    width: calc(var(--middle-tian-width)/2);
    height: calc(var(--middle-tian-height)/2);
    border: 1px dashed #a61b29;
    position: absolute;
    left: 25%;
    top: 25%;
}

/* `田` cell implement end */

#right-panel {
    background-color: #f0eae9;
    display: grid;
    grid-template-rows: 50px 50px auto;
    grid-gap: 5px;
    /* border: 2px solid blue; */
}

/* word progress panel implement */

#words-radical {
    background-color: #f0eae9;
    border-bottom: 1px solid #d8d3d3;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#words-radical .radical-block {
    width: 28px;
    height: 28px;
    color: #afafaf;
    background-color: #f3f3f3;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "FZQingKBYSJW-R";
}

/* word progress panel implement end */

#echo-widget {
    background-color: #f0eae9;
    border-bottom: 1px solid #d8d3d3;
    font-size: 2em;
    text-align: center;
}

#words-pad {
    background-color: #f0eae9;
    /* border: 2px solid #a61b29; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(8,0fr);
    grid-template-rows: repeat(10, 0fr);
    /* overflow: scroll; */
}

/* word block */
#words-pad .word-block {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* border: 1px solid salmon; */
}

/* sync style word block `typing layer' and `guide layer` */
#words-pad .word-block .typing-layer, .guide-layer {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "FZQingKBYSJW-R";
    font-size: 4em;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* word block `typing layer` */
#words-pad .word-block .typing-layer {
    caret-color: black;
    color: transparent;
    background-color: transparent;
    outline: none;
    border-style: none;
    pointer-events: none;
}

#words-pad .word-block .typing-layer:focus {
    outline: none;
    border-style: none;
}

/* word block `guide layer` */
#words-pad .word-block .guide-layer {
    color: rgba(166, 27, 41, 0.2);
    border: 2px solid #a61b29;
    border-left: none;
    border-top: none;
}

.spot-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

/* <circle cx="0" cy="0" r="2" fill="rgba(237,81,38, 0.7)" /> */